# Git
.git
.gitignore
.github

# Docker
.dockerignore
Dockerfile

# VSCode
.vscode

# Archivos compilados
**/*.o
**/*.out
**/*.exe
**/*.a

# Binarios generados
**/bin
**/build

# Cache y temporales
**/*.tmp
**/*.log

# Coverage
**/coverage
**/*.gcda
**/*.gcno

# Dependencias futuras
node_modules

# Archivos del sistema
.DS_Store
Thumbs.db